div.dokuwiki a.entry,
div.dokuwiki a.bad-entry {
    font-size: 95%;
    padding:1px 3px 3px 16px;
    margin:0;
    display: inline;
    background: transparent url(images/star-blue.png) 2px 1px no-repeat;
    color: #227BBA;
    border: 1px dotted __background_alt__;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.dokuwiki a.bad-entry {
    background: transparent url(images/star-grey.png) 2px 1px no-repeat;
}

div.dokuwiki a.entry:hover {
    text-decoration:none;
    text-shadow: 0 0 2px #D2A354;
    cursor:pointer;
    background: transparent url(images/star-yellow.png) 2px 1px no-repeat;
}

div.dokuwiki div#subjectindex {
    overflow: hidden;
    padding:4px;
    font-size:80%;
    text-align:left;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius: 8px;
    position:relative;
}
div.dokuwiki div#subjectindex,
div.dokuwiki div#subjectindex td {
    border-width:1px;
	border-style:solid;
	border-color:#D7D5D4;
}
div.dokuwiki div#subjectindex.noborder,
div.dokuwiki div#subjectindex  td.noborder,
div.dokuwiki div#subjectindex  td:nth-last-child(1),
div.dokuwiki div#subjectindex table {
    border-width:0;
}


.hidden {
    visibility:hidden;
}

div.dokuwiki div#subjectindex h1,
div.dokuwiki div#subjectindex h2,
div.dokuwiki div#subjectindex h3,
div.dokuwiki div#subjectindex h4,
div.dokuwiki div#subjectindex h5,
div.dokuwiki div#subjectindex h6 {
    line-height:115%;
    padding:0.06em 0 0.03em 0;
    margin:0;
    margin-bottom:2px;
    color:#3B3B3B;
    padding-left:12px;
	text-indent:-12px;
}
div.dokuwiki div#subjectindex h3,
div.dokuwiki div#subjectindex h4,
div.dokuwiki div#subjectindex h5,
div.dokuwiki div#subjectindex h6 {
    font-weight:normal;
}
div.dokuwiki div#subjectindex h1 {
    font-size:125%;
    padding:0px 0px 3px 7px;
    text-indent:0;
    background:#EDEDED;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius: 4px;
}
div.dokuwiki div#subjectindex h2 {font-size:117%; font-weight:bold;}
div.dokuwiki div#subjectindex h3 {font-size:110%;}
div.dokuwiki div#subjectindex h4 {font-size:103%;}
div.dokuwiki div#subjectindex h5 {font-size:96%;}
div.dokuwiki div#subjectindex h6 {font-size:90%;}

div.dokuwiki div#subjectindex table {
    border-collapse:collapse;
    width:100%;
    margin:0;
}
div.dokuwiki div#subjectindex td {
	border-width:0 1px 0 0;
	padding:7px 8px;
	background-color:white;
}
div.dokuwiki div#subjectindex span.links,
div.dokuwiki div#subjectindex a {
}
div.dokuwiki div#subjectindex span.links {
    padding:2px 3px;
    margin-left:3px;
    font-size:82%;
    color:#989898;
    font-weight:normal;
    font-style:italic;
}
div.dokuwiki div#subjectindex a {
    padding:0 2px;
    font-weight:normal;
}
div.dokuwiki div#subjectindex a:hover {
    color:black !important;
    text-decoration:none;
}
div.dokuwiki div#subjectindex span.frequency {
    display:inline;
    font-weight:normal;
    color:#B2B2B2;
    margin-left:3px;
    vertical-align:top;
    font-size:80%;
    line-height:130%;
}
div.dokuwiki div#subjectindex a.top {
    position:absolute;
    bottom:-1.5em;
    right:0.5em;
    font-style:italic;
    color:#A0A0A0;
}