/* Subject entries */

div.dokuwiki a.entry,
div.dokuwiki a.bad-entry {
    background: transparent url(images/star-grey.png) 2px 1px no-repeat;
    background-size: 10px 10px;
    background-position: right 15%;
    color: #227BBA;
    color: #586e75;
    display: inline;
    font-size: 95%;
    margin: 0;
    padding: 1px 14px 3px 3px;
}

div.dokuwiki a.bad-entry {
    opacity: 0.4;
}

div.dokuwiki a.entry:hover {
    background-size: 12px 12px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 2px #D2A354;
}


/* Main subject index lists */

div.dokuwiki .subjectindex {
	border-color: #D7D5D4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	border-style: solid;
    border-width: 0;
    font-size: 80%;
    margin: 0;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-align: left;
    width: 100%;
}
div.dokuwiki .subjectindex.border {
    border-width: 1px;
}

div.dokuwiki .subjectindex .inner {
    column-gap: 1em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-rule: 0;
    -moz-column-rule: 0;
    -webkit-column-rule: 0;
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
	padding: 7px 8px;
}
div.dokuwiki .subjectindex .inner-border {
    column-rule: 1px solid #D7D5D4;
    -moz-column-rule: 1px solid #D7D5D4;
    -webkit-column-rule: 1px solid #D7D5D4;
}
.hidden {
    visibility: hidden;
    padding: 0 !important;
    margin: 0 !important;
}
.no-text {
    padding: 1px 9px 3px 3px !important;
    margin-right: 3px !important;
}

div.dokuwiki .subjectindex h1,
div.dokuwiki .subjectindex h2,
div.dokuwiki .subjectindex h3,
div.dokuwiki .subjectindex h4,
div.dokuwiki .subjectindex h5,
div.dokuwiki .subjectindex h6 {
    color: #3B3B3B;
    display: block;
    line-height:115%;
    margin: 0;
    margin-bottom:2px;
    padding: 0.06em 0 0.03em 0;
    padding-left:12px;
	text-indent:-12px;
}
div.dokuwiki .subjectindex h3,
div.dokuwiki .subjectindex h4,
div.dokuwiki .subjectindex h5,
div.dokuwiki .subjectindex h6 {
    font-weight:normal;
}
div.dokuwiki .subjectindex h1 {
    background:#EDEDED;
    break-after: avoid-column;
    -moz-break-after: avoid-column;
    -webkit-column-break-after: avoid;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-size:125%;
    padding:0px 0px 3px 7px;
    text-indent:0;
}
div.dokuwiki .subjectindex h1.title {
    background: none;
    border-bottom: 1px solid #D7D5D4;
    border-radius: 0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    color: #A0A0A0;
    font-size:132%;
    margin-bottom: 6px;
}

div.dokuwiki .subjectindex h2 {font-size:117%; font-weight:bold;}
div.dokuwiki .subjectindex h3 {font-size:110%;}
div.dokuwiki .subjectindex h4 {font-size:103%;}
div.dokuwiki .subjectindex h5 {font-size:96%;}
div.dokuwiki .subjectindex h6 {font-size:90%;}

div.dokuwiki .subjectindex span.links,
div.dokuwiki .subjectindex a {
}
div.dokuwiki .subjectindex span.links {
    color:#989898;
    font-weight:normal;
    font-size:82%;
    font-style:italic;
    margin-left:3px;
    padding:2px 3px;
}
div.dokuwiki .subjectindex a {
    font-weight:normal;
    padding:0 2px;
}
div.dokuwiki .subjectindex a:hover {
    color:black !important;
    text-decoration:none;
}
div.dokuwiki .subjectindex span.frequency {
    color:#B2B2B2;
    display:inline;
    font-size:80%;
    font-weight:normal;
    line-height:130%;
    margin-left:3px;
    vertical-align:top;
}
div.dokuwiki .subjectindex a.top {
    bottom:-1.5em;
    color:#A0A0A0;
    font-style:italic;
    position:absolute;
    right:0.5em;
}